
<!-------Banner------>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'background.jpg' %>');">
  <div class="banner-content">
    <h1>Le Wagon's cocktails</h1>
    <p>Awesome beverages for developers nightlife</p>

  </div>
</div>


<!-------Cards-------->
  <h2 class="text-center">Cocktail List</h2>
  <div class="container">
    <div class="row">

        <div class="cards">
          <!-- Code your cards  here -->
          <% @cocktails.each do |cocktail| %>
          <div class="col-xs-12 col-md-4">
            <%= link_to cocktail_path(cocktail) do %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cocktail_photo_or_default cocktail %>');">
              <h2 class="card-description"><%= cocktail.name %></h2>
            <div>
            </div>

          </div>
          <% end %>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

