.footer {
  transition: all 0.3s ease;
  height: 20px;
  padding: 0px 30px;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  color: rgb(147, 143, 143);
  // display: flex 0 0 ;
  // align-items: center;
  // justify-content: space-around;
}
