<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>

  </div>
  <div class="">
    A champion is defined not by their wins but by how they can recover when they fall <i class="fa fa-heart"> -SW</i>
  </div>
</div>
