<div class="footer">
  <div class="">
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
    <p>Don't wait. The time will never be just right <i class="fa fa-heart"> -NH</i></p>
  <div>

  </div>
</div>
