<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>

  </div>
  <div class="">
    Don't wait. The time will never be just right <i class="fa fa-heart"> -NH</i>
  </div>
</div>
