<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/cocktail.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to new_cocktail_path do %>
      <i class="fas fa-plus-square"> Cocktail</i>
    <% end %>
   <!--  <#%= link_to "Team", "/team.html", class: "navbar-wagon-item navbar-wagon-link" %> -->

 <!--    <a href="" class="navbar-wagon-item navbar-wagon-link">Host</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Trips</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Messages</a> -->

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/naneng" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">New Cocktail</a></li>
          <li><a href="#">New Ingredient</a></li>
          <li><a href="#">Cocktail List</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
