<div class="navbar-wagon">
  <!-- Logo -->
  <%= image_tag "cocktail.png", alt: "cocktail", width: 20 %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to new_cocktail_path do %>
      <i class="fas fa-plus-square"> Cocktail</i>
    <% end %>

    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/naneng" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">New Cocktail</a></li>
          <li><a href="#">New Ingredient</a></li>
          <li><a href="#">Cocktail List</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
